sniffle.xml
apps/sniffle/priv/mibs/*
.bin
apps/sniffle/include/*MIB.hrl
*.version
apps/sniffle/src/sniffle_version.hrl
rel/pkg/packlist
rel/pkg/*.tgz
rel/pkg/build-info
*.beam
.eunit
deps/*
apps/sniffle/ebin
*~
dev/*
doc/*
rel/sniffle
erl_crash.dump
sniffle_template.xml
