%% -*- erlang -*-
{sub_dirs, ["rel", "apps/sniffle"]}.
{cover_enabled, true}.
{erl_opts, [debug_info, {i, "../../deps/bitcask/include"}, warnings_as_errors, {parse_transform, lager_transform}]}.
{edoc_opts, [{dir, "../../doc"}]}.
%{eunit_opts, [no_tty, {report, {unite_compact, []}}, {report,{eunit_surefire,[{dir,"."}]}}]}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{deps, [
        {fifo_spec, "0.1.8", {git, "https://github.com/project-fifo/fifo_spec.git", {tag, "0.1.8"}}},
        {lager, "2.0.*", {git, "git://github.com/basho/lager", {tag,"2.0.3"}}},
        {cuttlefish, ".*", {git, "https://github.com/basho/cuttlefish.git", {tag, "505400716dbc76ec9387d9d4335819b3bdcff9b2"}}},
        {meck, "0.8.1", {git, "git://github.com/basho/meck.git", {tag, "0.8.1"}}},
        {erlcloud, ".*", {git, "git://github.com/project-fifo/erlcloud", {branch, "fifo"}}},
        {webmachine, ".*", {git, "git://github.com/basho/webmachine", {tag, "1.10.3"}}},
        {jsx, ".*", {git, "http://github.com/talentdeficit/jsx.git", {tag, "v1.4.4"}}},
        {riak_core, ".*", {git, "git://github.com/project-fifo/riak_core", {tag, "fifo-0.6.0"}}},
        {fifo_db, ".*", {git, "https://github.com/project-fifo/fifo-db.git", {tag, "0.1.2"}}},
        {riak_ensemble, ".*", {git, "https://github.com/basho/riak_ensemble.git", {branch, "develop"}}},
        {statebox, ".*", {git, "https://github.com/unisontech/statebox.git", {branch, master}}},
        {fifo_s3, ".*", {git, "https://github.com/project-fifo/fifo_s3.git", {branch, "master"}}},
        {fifo_dt, "0.1.1", {git, "https://github.com/project-fifo/fifo_dt.git", {tag, "0.1.1"}}},
        {uuid, ".*", {git, "https://github.com/project-fifo/erlang-uuid.git", {branch, "master"}}},
        {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {tag, "0.6.1"}}},
        {bitcask, ".*", {git, "https://github.com/basho/bitcask.git", {tag, "1.6.1"}}},
        {eplugin, ".*", {git, "http://github.com/Licenser/eplugin.git", {tag, "0.1.1"}}},
        {sgte, ".*", {git, "https://github.com/project-fifo/sgte.git", {branch, master}}},
        {rankmatcher, ".*", {git, "https://github.com/Licenser/rankmatcher.git", {branch, master}}},
        {mdns_server_lib, ".*", {git, "https://github.com/Licenser/mdns_server_lib.git", {tag, "0.1.15"}}},
        {jsxd, ".*", {git, "https://github.com/Licenser/jsxd.git", {tag, "0.1.8"}}},
        {libhowl, "0.1.18", {git, "https://github.com/project-fifo/libhowl.git", {tag, "0.1.18"}}},
        {libchunter, "0.1.32", {git, "https://github.com/project-fifo/libchunter.git", {tag, "0.1.32"}}},
        {libsnarl, "0.2.35", {git, "https://github.com/project-fifo/libsnarl.git", {tag, "0.2.35"}}},
        {fqc, ".*", {git, "https://github.com/project-fifo/fqc.git", {branch, "master"}}}
       ]}.

{plugin_dir, "deps/cuttlefish/src"}.
{plugins, [cuttlefish_rebar_plugin]}.
