%% -*- erlang -*-
{sub_dirs, ["rel", "apps/sniffle"]}.
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.
{edoc_opts, [{dir, "../../doc"}]}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{deps, [{riak_core, "1.2.*",
         {git, "git://github.com/basho/riak_core", {tag, "1.2"}}},
        {lager, "1.2.*",
         {git, "git://github.com/basho/lager", {tag,"1.2.0"}}},
        {statebox, ".*",
         {git, "https://github.com/mochi/statebox.git", {tag, "v0.2.2"}}},
	{mdns_server_lib, ".*",
         {git, "https://github.com/Licenser/mdns_server_lib.git", {branch, master}}},
        {eleveldb, "1.2.*",
         {git, "https://github.com/basho/eleveldb.git", {tag, "1.2.2p5"}}},
        {uuid, ".*", 
         {git, "https://github.com/avtobiff/erlang-uuid.git", {tag, "v0.3.3"}}},
	{libhowl, ".*",
         {git, "https://github.com/project-fifo/libhowl.git", {branch, master}}},
	{libchunter, ".*",
         {git, "https://github.com/project-fifo/libchunter.git", {branch, dev}}},
	{libsnarl, ".*",
         {git, "https://github.com/project-fifo/libsnarl.git", {branch, dev}}}
       ]}.
