%% -*- erlang -*-
{sub_dirs, ["rel", "apps/sniffle"]}.
{cover_enabled, true}.
{erl_opts, [debug_info, {i, "../../deps/bitcask/include"}, warnings_as_errors, {parse_transform, lager_transform}]}.
{edoc_opts, [{dir, "../../doc"}]}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{deps, [
        {lager, "2.0.*", {git, "git://github.com/basho/lager", {tag,"2.0.1"}}},
        %%{eper, ".*", {git, "https://github.com/massemanet/eper.git", {branch, master}}},
        %%{cuttlefish, ".*", {git, "https://github.com/basho/cuttlefish.git", {branch, develop}}},
        {cuttlefish, ".*", {git, "https://github.com/project-fifo/cuttlefish.git", {branch, "fifo"}}},
        {erlcloud, ".*", {git, "git://github.com/project-fifo/erlcloud", {branch, "fifo"}}},
        {webmachine, ".*", {git, "git://github.com/basho/webmachine", {tag, "1.10.3"}}},
        {newrelic, ".*", {git, "https://github.com/wooga/newrelic-erlang.git", {tag, "master"}}},
        {jsx, ".*", {git, "http://github.com/talentdeficit/jsx.git", {tag, "v1.4.4"}}},
        {riak_core, "1.4.*", {git, "git://github.com/project-fifo/riak_core", {tag, "fifo"}}},
        {riak_ensemble, ".*", {git, "https://github.com/basho/riak_ensemble.git", {branch, "develop"}}},
        {statebox, ".*", {git, "https://github.com/unisontech/statebox.git", {branch, master}}},
        {fifo_db, ".*", {git, "https://github.com/project-fifo/fifo-db.git", {branch, "master"}}},
        {fifo_util, ".*", {git, "https://github.com/project-fifo/fifo_util.git", {branch, "master"}}},
        {uuid, ".*", {git, "https://github.com/project-fifo/erlang-uuid.git", {branch, "master"}}},
        {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {tag, "0.6.1"}}},
        {bitcask, ".*", {git, "https://github.com/basho/bitcask.git", {tag, "1.6.1"}}},
        {eplugin, ".*", {git, "http://github.com/Licenser/eplugin.git", {tag, "0.1.1"}}},
        {statman, ".*", {git, "https://github.com/Licenser/statman.git", {tag, "master"}}},
        {sgte, ".*", {git, "https://github.com/project-fifo/sgte.git", {branch, master}}},
        {rankmatcher, ".*", {git, "https://github.com/Licenser/rankmatcher.git", {branch, master}}},
        {mdns_server_lib, ".*", {git, "https://github.com/Licenser/mdns_server_lib.git", {tag, "0.1.12"}}},
        {jsxd, ".*", {git, "https://github.com/Licenser/jsxd.git", {tag, "0.1.7"}}},
        {fifo_spec, ".*", {git, "https://github.com/project-fifo/fifo_spec.git", {tag, "0.1.4"}}},
        {libhowl, ".*", {git, "https://github.com/project-fifo/libhowl.git", {tag, "0.1.14"}}},
        {libchunter, ".*", {git, "https://github.com/project-fifo/libchunter.git", {tag, "0.1.16"}}},
        {libsnarl, ".*", {git, "https://github.com/project-fifo/libsnarl.git", {tag, "0.2.24"}}}
       ]}.

{plugin_dir, "deps/cuttlefish/src"}.
{plugins, [cuttlefish_rebar_plugin]}.
