[
 {mnesia, [{dir, "db"}]},
 {gproc, 
  [{gproc_dist, all}]},
 {sniffle, 
  [{api_hosts, [
	{{cloudapi,sdc}, {"http://192.168.155.139", {"admin","wiggle.devel",
     <<"-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----\n">>}}},
	{{cloudapi,bark}, {"http://172.16.0.4",{"admin","wiggle.devel",
     <<"-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----\n">>>}}}]}]},
{redgrid,
  [
   {url, "redis://localhost:6379/"},
   {meta, []},
   {anonymous, false},
   {domain, "fifo"},
   {version, ""},
   {local_ip, "127.0.0.1"}
  ]},
 {alog, 
  [
   {enabled_loggers, [alog_tty]},
   {flows, 
    [
     {{mod,['_']}, {'=<', warning}, [alog_tty]},
     {{tag, [bark]}, {'=<', info}, [alog_tty]},
     {{tag, [cloudapi]}, {'=<', info}, [alog_tty]},
     {{tag, [sniffle]}, {'=<', debug}, [alog_tty]}
    ]}
  ]}
].
