%% -*- erlang -*-
{sys, [
       {lib_dirs, ["../apps/", "../deps/"]},
       {rel, "sniffle", "0.4.3",
        [
         kernel,
         stdlib,
         sasl,
         sniffle
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "sniffle"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
%%       {app, eper, [{incl_cond, include}]},
       {app, sniffle, [{incl_cond, include}]}
      ]}.

{target_dir, "sniffle"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "etc"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {template, "files/fifo_complete.sh", "etc/fifo_complete.sh"},
           {template, "files/sniffle", "bin/sniffle"},
           {template, "files/fifoadm", "bin/fifoadm"},
           {template, "files/sniffle-admin", "bin/sniffle-admin"},
           {copy, "../deps/cuttlefish/cuttlefish", "bin/cuttlefish"},
           {copy, "../share", "share"},
           {template, "../schema/sniffle.schema", "share/schema/00-sniffle.schema"},
           {template, "../deps/cuttlefish/priv/erlang_vm.schema", "share/schema/01-vm.schema"},
           {template, "../deps/riak_core/priv/riak_core.schema", "share/schema/02-riak_core.schema"},
           {template, "../schema/lager.schema", "share/schema/03-lager.schema"},
           {template, "../deps/fifo_db/priv/fifo_db.schema", "share/schema/04-fifo_db.schema"},
           {template, "../deps/fifo_db/priv/hanoidb.schema", "share/schema/04-hanoidb.schema"},
           {template, "../deps/fifo_db/priv/eleveldb.schema", "share/schema/04-eleveldb.schema"},
           {template, "../deps/fifo_db/priv/bitcask.schema", "share/schema/04-bitcask.schema"},
           {template, "../deps/mdns_client_lib/priv/mdns_client.schema", "share/schema/04-mdns_client.schema"},
           {template, "../deps/mdns_server_lib/priv/mdns_server.schema", "share/schema/04-mdns_server.schema"},
           {template, "../schema/riak_sysmon.schema", "share/schema/04-riak_sysmon.schema"},
           {template, "../schema/snmp.schema", "share/schema/04-snmp.schema"},
           {copy, "../apps/sniffle/mibs/SNIFFLE-MIB.mib", "share/SNIFFLE-MIB.mib"},
           {copy, "../snmp", "snmp"}
           ]}.
