%% -*- erlang -*-
{sys, [
       {lib_dirs, ["../apps/", "../deps/"]},
       {rel, "sniffle", "0.4.2",
        [
         kernel,
         stdlib,
         sasl,
         sniffle
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "sniffle"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, sniffle, [{incl_cond, include}]}
      ]}.

{target_dir, "sniffle"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {template, "files/app.config", "etc/app.config.example"},
           {template, "files/vm.args", "etc/vm.args.example"},
           {template, "files/fifo_complete.sh", "etc/fifo_complete.sh"},
           {template, "files/sniffle", "bin/sniffle"},
           {template, "files/fifoadm", "bin/fifoadm"},
           {template, "files/sniffle-admin", "bin/sniffle-admin"},
           {copy, "../deps/cuttlefish/cuttlefish", "bin/cuttlefish"},
           {copy, "../share", "share"},
           {template, "../schema/bitcask.schema", "share/schema/bitcask.schema"},
           {template, "../schema/fifo_db.schema", "share/schema/fifo_db.schema"},
           {template, "../schema/lager.schema", "share/schema/lager.schema"},
           {template, "../schema/riak_core.schema", "share/schema/riak_core.schema"},
           {template, "../schema/riak_sysmon.schema", "share/schema/riak_sysmon.schema"},
           {template, "../schema/vm.schema", "share/schema/vm.schema"},
           {template, "../schema/snmp.schema", "share/schema/snmp.schema"},
           {template, "../deps/mdns_client_lib/priv/mdns_client.schema", "share/schema/mdns_client.schema"},
           {copy, "../apps/sniffle/mibs/SNIFFLE-MIB.mib", "share/SNIFFLE-MIB.mib"},
           {copy, "../snmp", "snmp"}
           ]}.
