{sys, [
       {lib_dirs, ["../apps/", "../deps/"]},
       {rel, "sniffle", "0.3.3",
        [
         kernel,
         stdlib,
         sasl,
         sniffle
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "sniffle"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, sniffle, [{incl_cond, include}]}
      ]}.

{target_dir, "sniffle"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {template, "files/app.config", "etc/app.config.example"},
           {template, "files/vm.args", "etc/vm.args.example"},
           {template, "files/sniffle.xml", "etc/sniffle.xml"},
           {template, "files/sniffle", "bin/sniffle"},
           {template, "files/fifoadm", "bin/fifoadm"},
           {template, "files/sniffle-admin", "bin/sniffle-admin"}
           ]}.
