%% -*- erlang -*-
%%
%% etc/app.config
%%
{ring_state_dir,        "/var/db/sniffle/ring"}.
{web_ip,                "127.0.0.1"}.
{https_port,            "8197"}.
{web_port,              "8198"}.
{handoff_port,          "8199"}.
{handoff_ip,            "127.0.0.1"}.
{sniffle_ip,            "127.0.0.1"}.
{sniffle_port,          4210}.
{db_path,               "/var/db/sniffle"}.
{log_path,              "/var/log/sniffle"}.

%% Watchdog
{service,               "sniffle"}.

{bugsnag_app,           "sniffle"}.
{bugsnag_release_state, "test"}.
{bugsnag_app_version,   "0.7.3"}.

%%
%% etc/vm.args
%%
{node,                  "sniffle@127.0.0.1"}.
{crash_dump,            "/var/log/sniffle"}.
{cookie,                "sniffle"}.
{run_user,              "sniffle"}.

{cuttlefish,            "on"}.
{cuttlefish_conf,       "sniffle.conf"}.

{platform_etc_dir,      "./etc"}.
{platform_bin_dir,      "./bin"}.
{platform_data_dir,     "/var/db/sniffle"}.
{platform_lib_dir,      "./lib"}.
{platform_log_dir,      "/var/log/sniffle"}.
