%% -*- erlang -*-
%%
%% etc/app.config
%%
{ring_state_dir,        "/data/sniffle/db/ring"}.
{web_ip,                "127.0.0.1"}.
{https_port,            "8197"}.
{web_port,              "8198"}.
{handoff_port,          "8199"}.
{handoff_ip,            "0.0.0.0"}.
{sniffle_ip,            "127.0.0.1"}.
{sniffle_port,          4210}.
{db_path,               "/data/sniffle/db"}.
{log_path,              "/data/sniffle/log"}.

%% Watchdog
{service,               "sniffle"}.

{bugsnag_app,           "sniffle"}.
{bugsnag_release_state, "release"}.
{bugsnag_app_version,   "0.8.1p3"}.

%%
%% etc/vm.args
%%
{node,                  "sniffle@127.0.0.1"}.
{crash_dump,            "/data/sniffle/log"}.
{cookie,                "sniffle"}.
{run_user,              "sniffle"}.

{cuttlefish,            "on"}.
{cuttlefish_conf,       "sniffle.conf"}.

{platform_etc_dir,      "/data/sniffle/etc"}.
{platform_bin_dir,      "./bin"}.
{platform_data_dir,     "/data/sniffle/db"}.
{platform_lib_dir,      "./lib"}.
{platform_log_dir,      "/data/sniffle/log"}.
