%%
%% etc/app.config
%%
{ring_state_dir,        "data/ring"}.
{web_ip,                "127.0.0.1"}.
{web_port,              "8192"}.
{handoff_port,          "8112"}.
{db_path,               "data"}.
{log_path,              "log"}.

{sniffle_ip,            "127.0.0.1"}.
{sniffle_port,          4212}.

%%
%% etc/vm.args
%%
{node,                  "sniffle2@127.0.0.1"}.
{cookie,                "sniffle"}.
